<li>
  <koken:if empty="profile.twitter">
    <a href="https://twitter.com/intent/tweet?text={{ album.title url_encode="true" }}&url={{ album.url url_encode="true" }}" title="Share {{ album.title url_encode="true" }} on Twitter" target="_blank">
  <koken:else>
    <a href="https://twitter.com/intent/tweet?text={{ album.title url_encode="true" }}&url={{ album.url url_encode="true" }}&via={{ profile.twitter }}" title="Share {{ album.title url_encode="true" }} on Twitter" target="_blank">
  </koken:if>
    <i class="fa fa-twitter"></i> Twitter
  </a>
</li>
<li>
  <a href="https://www.facebook.com/sharer.php?u={{ album.url url_encode="true" }}" title="Share {{ album.title url_encode="true" }} on Facebook" target="_blank" >
    <i class="fa fa-facebook"></i> Facebook
  </a>
</li>
<li>
  <a href="http://pinterest.com/pin/create/button/?url={{ album.url url_encode="true" }}&media={{ album.covers.first.presets.large.url url_encode="true" }}&description={{ album.title url_encode="true" }}" title="Share {{ album.title url_encode="true" }} on Pinterest">
    <i class="fa fa-pinterest"></i> Pinterest
  </a>
</li>
<li>
  <a href="http://www.tumblr.com/share/photo?source={{ album.covers.first.presets.large.url url_encode="true" }}&caption=%3Cp%3E%3Cstrong%3E%3Ca href=&quot;{{ album.url url_encode="true" }}&quot; title=&quot;{{ album.title }}&quot;%3E{{ album.title }}%3C/a%3E%3C/strong%3E%3C/p%3E%3Cp%3E{{ album.description url_encode="true" }}%3C/p%3E&click_thru={{ album.url url_encode="true" }}" class="share-tumblr" title="Share {{ album.title url_encode="true" }} on Tumblr" target="_blank">
    <i class="fa fa-tumblr"></i> Tumblr
  </a>
</li>
<li>
  <a href="https://plus.google.com/share?url={{ album.url url_encode="true" }}" title="Share {{ album.title url_encode="true" }} on Google+" target="_blank">
    <i class="fa fa-google-plus"></i> Google+
  </a>
</li>
